footer.footer
    .footer-top
        .wrapper
            .footer-box
                
                .footer-promo
                    a.footer-logo(href="")
                        img(src="./img/logo.jpg" alt="logo")

                ul.footer-nav
                    li
                        a(href="/") Условия доставки
                    li
                        a(href="/") О нас 
                    li
                        a(href="/") Контакты

                .work
                    .work-ttl График работы
                    .work-time c 9:00 до 23:00
                    a.work-phone(href="tel:+380067-134-56-67") 067-134-56-67
                    a.work-phone(href="tel:+380067-134-56-67") 066-564-77-09
    .footer-bottom
        .wrapper
            .dev Создание сайта 
                a(href="") Respect Design
