header
    .header-top
        .wrapper
            .header-top-box

                .header-top-call
                    .icon.icon-call
                    a(href="") 067-134-56-67
                    a(href="") 067-134-56-67

                .header-top-adress
                    .icon.icon-placeholder
                    span Мариуполь, пр-т Строителей, 455

                .header-top-work
                    .icon.icon-time
                    span Работаем с 9:00 до 23:00

                ul.header-top-nav
                    li
                        a(href="") Условия доставки
                    li
                        a(href="") О нас
                    li
                        a(href="") Контакты
    .header-bot
        .wrapper
            .header-bot-box

                .logo-box
                    a.logo(href="")
                        img(src="./img/logo.jpg" alt="logo")
                    .logo-txt Доставка пиццы в Мариуполе
                .header-bot-work
                    span.header-bot-work-time Работаем с 9:00 до 23:00
                    a.header-bot-work-phone(href="tel:+380067-134-56-67") 067-134-56-67
                    a.header-bot-work-phone(href="tel:+38066-564-77-09") 066-564-77-09

                .header-bot-basket
                    .header-bot-bask-img
                         img(src="./img/pizza.png" alt="basket") 
                    .header-bot-bask-info
                        .header-bot-bask-count 15
                        a.header-bot-bask-price(href="") 1500 грн

                .hamburger.hamburger--spin.js-hamburger
                    .hamburger-box
                        .hamburger-inner

    .header-nav
        .wrapper
            .header-nav-list
                li
                    a(href="") Новинки
                li
                    a(href="") Итальянская пицца
                li
                    a(href="") Напитки
                li
                    a(href="") Основное меню
                li
                    a(href="") Акции
                
    .header-mobile-nav
        .wrapper
            .header-mobile-nav-list
                li
                    a(href="") Новинки
                li
                    a(href="") Итальянская пицца
                li
                    a(href="") Напитки
                li
                    a(href="") Основное меню
                li
                    a(href="") Акции
                li
                    a(href="") Условия доставки
                li
                    a(href="") О нас
                li
                    a(href="") Контакты