doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900" rel="stylesheet")
        link(rel='stylesheet' href='css/styles.min.css')
        title new
    body
        
        include components/header.pug

        main.main-wrap
            .poster
                .wrapper
                    .poster-box.js-poster-slider
                        .poster-item
                            .poster-item-img
                                img(src="./img/poster_slide.jpg" alt="poster-img")
                            h1.poster-ttl Доставим за 60 минут 
                                br
                                | В любую точку города
                        .poster-item
                            .poster-item-img
                                img(src="./img/poster_slide.jpg" alt="poster-img")
                            h1.poster-ttl Доставим за 60 минут 
                                br
                                | В любую точку города
                        .poster-item
                            .poster-item-img
                                img(src="./img/poster_slide.jpg" alt="poster-img")
                            h1.poster-ttl Доставим за 60 минут 
                                br
                                | В любую точку города


            section.product
                .wrapper
                    h2.title Пицца
                    .product-box
                        .product-item
                            .product-item-img
                                img(src="./img/product_paper.png")
                            .product-inform
                                h3.product-ttl Паперони
                                .product-descr Перетерті томати, моцарела, салямі пікантна "Пепероні"
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать
                        .product-item
                            .product-item-img
                                img(src="./img/product_milano.png")
                            .product-inform
                                h3.product-ttl Милано
                                .product-descr Перетерті томати, моцарела, салямі Мілано
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать
                        .product-item
                            .product-item-img
                                img(src="./img/product_americano.png")
                            .product-inform
                                h3.product-ttl Американо
                                .product-descr Перетерті томати, моцарела, кукурудза, ковбаски, картопля фрі
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать
                        .product-item
                            .product-item-img
                                img(src="./img/product_chease.png")
                            .product-inform
                                h3.product-ttl сырная
                                .product-descr Тесто из цельнозерновой муки, моцарелла, креветки, цукини, чеснок
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать
                        .product-item
                            .product-item-img
                                img(src="./img/product_paper.png")
                            .product-inform
                                h3.product-ttl Паперони
                                .product-descr Перетерті томати, моцарела, салямі пікантна "Пепероні"
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать
                        .product-item
                            .product-item-img
                                img(src="./img/product_milano.png")
                            .product-inform
                                h3.product-ttl Милано
                                .product-descr Перетерті томати, моцарела, салямі Мілано
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать
                        .product-item
                            .product-item-img
                                img(src="./img/product_americano.png")
                            .product-inform
                                h3.product-ttl Американо
                                .product-descr Перетерті томати, моцарела, кукурудза, ковбаски, картопля фрі
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать
                        .product-item
                            .product-item-img
                                img(src="./img/product_chease.png")
                            .product-inform
                                h3.product-ttl сырная
                                .product-descr Тесто из цельнозерновой муки, моцарелла, креветки, цукини, чеснок
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать

            section.product
                .wrapper
                    h2.title Напитки
                    .product-box
                        .product-item
                            .product-item-img
                                img(src="./img/7up.jpg")
                            .product-inform
                                h3.product-ttl 7up
                                .product-descr 1 л
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать
                        .product-item
                            .product-item-img
                                img(src="./img/pepsi.jpg")
                            .product-inform
                                h3.product-ttl Pepsi
                                .product-descr 1 л
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать
                        .product-item
                            .product-item-img
                                img(src="./img/mirinda.jpg")
                            .product-inform
                                h3.product-ttl Merinda
                                .product-descr 1 л
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать
                        .product-item
                            .product-item-img
                                img(src="./img/mirinda.jpg")
                            .product-inform
                                h3.product-ttl Mirinda
                                .product-descr 1 л
                                .product-price
                                    span 104 грн
                            a.btn-add(href="") 
                                span.btn-add-rect +
                                span.btn-add-txt Заказать

                section.about
                    .wrapper
                        h2.title Ассортимент пиццы в "olive pizza"
                        .about-content

                            p Виртуозные шеф-повара "olive pizza" делают более 50 видов как традиционных, так и оригинальных пицц по собственным рецептам.

                            p Классические виды. Пицца в классическом варианте — открытая тонкая лепёшка с расположенной сверху начинкой и обязательно покрытая томатами и расплавленным сыром. Популярная традиционная пицца — это "Маргарита". Сочетание нежного сыра "Моцарелла" и свежих помидор — основа для остальных видов пиццы.

                            p Американская пицца. В США это блюдо попало вместе с итальянскими эмигрантами и удачно " прижилось" на новом месте, потерпев некоторые изменения в рецепте. В Америке популярна пицца "Гавайская" с интересным сочетанием сочного сладкого ананаса, ветчины и сыра. А типичный американский бекон встретится в пицце "Толстый Фраер", "Этна-пицце", "Корно Россо".

                            p Пицца с морепродуктами. Такое блюдо родилось уже вне своей родины, но пользуется не меньшей популярностью и не уступает по вкусу классическим вариантам. Морской коктейль из копченого тунца, лосося, форели, креветки теперь часто используемый набор ингредиентов для вкусных и оригинальных рецептов пиццы.

                            p Вегетарианская пицца. В меню "olive pizza" мы добавили блюдо для тех, кто не предпочитает мяса. Хрустящие свежие шампиньоны, перец, томаты, маслины и лук, запеченные под 
       
        include components/footer.pug                        
        include components/script.pug